<header>
  <div class="row">
    {{ section.settings.email }}
    {{ section.settings.phone }}

    {% for block in section.blocks %}
      <div class="grid-item" {{ block.shopify_attributes }}>
        {% case block.type %}        
        {% when 'image' %}
          <img src="{{ block.settings.social | img_url }}" alt="">
        {% endcase %}
      </div>
    {% endfor %}
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "id": "email",
        "type": "text",
        "label": "Email",
        "default": "hello@shopifycanvas.com"
      },
      {
        "id": "phone",
        "type": "text",
        "label": "phone",
        "default": "0123456789"
      }
    ],
	"max_blocks": 5,
    "blocks": [
      {
        "type": "image",
        "name": "image",        
        "settings": [
          {
            "id": "social",			
            "type": "image_picker",
            "label": "Social Icon"
          }
        ]
      }
    ]
  }
{% endschema %}