<header>
  <div class="row">
    {{ section.settings.email }}
    {{ section.settings.phone }}
    <ul>
        {% if section.settings.email != empty %}
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        {% endif %}

        {% if section.settings.email != empty %}
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        {% endif %}

        {% if section.settings.email != empty %}
          <li><a href="#"> <i class="fab fa-twitter"></i></a></li>
        {% endif %}

        {% if section.settings.email != empty %}
          <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
        {% endif %}    
    </ul>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "id": "email",
        "type": "text",
        "label": "Email",
        "default": "hello@shopifycanvas.com"
      },
      {
        "id": "phone",
        "type": "text",
        "label": "phone",
        "default": "0123456789"
      }
    ]
  }
{% endschema %}